[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "external/icdiff"]
	path = external/icdiff
	url = https://github.com/jeffkaufman/icdiff.git
[submodule "tpm"]
	path = external/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "external/PathPicker"]
	path = external/PathPicker
	url = https://github.com/facebook/PathPicker.git
[submodule "external/bask"]
	path = external/bask
	url = https://github.com/jez/bask.git
